/* Start Variables */

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #F6F6F6;
    --main-duration: 0.5s;
}


/* End Variables */
/*Start of global Rules*/
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body
{
	font-family: "Work Sans" , sans-serif ;
}
/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*End of global Roles*/
div
{
	display: block;
}
.special
{
    text-align: center;
    font-weight: 800;
    font-size: 100px;
    margin: 0;
    letter-spacing: -3px;
    color: #EBEDEC;
}
.special + p
{
    text-align: center;
    font-size: 20px;
    margin: -30px 0 0 0;
    color: #979797;
}
@media (max-width: 767px)
{
    .special
    {
        font-size: 60px;
    }
    .special+p
    {
        font-size: 11px;
        margin-top: -20px;
    }

}
.header
{
    padding: 20px;
}
.container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo
{
    width: 60px;
}
.header .container .links
{
    position: relative;
    cursor: pointer;
}
.header .container .links .icon
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    width: 30px;
}
.header .container .links .icon span 
{
    height: 3px;
    margin-bottom: 5px;
    background-color: #333333;
}
.header .container .links .icon span:first-child
{
    width: 100%;
}
.header .container .links .icon span:nth-child(2)
{
    width: 60%;
    transition: .3s;
}
.header .container .links:hover .icon span:nth-child(2)
{
    width: 100%;
}
.header .container .links .icon span:last-child
{
    width: 100%;
}
.header .container .links ul:before
{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color:transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -20px;
    position: absolute;
}
.header .container .links:hover ul
{
    display: block;
}
.header .container .links ul
{
    list-style: none;
    position: absolute;
    min-width: 200px;
    background-color: #f6f6f6;
    padding: 0;
    right: 0;
    margin: 0;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .container .links ul li a
{
    text-decoration: none;
    padding: 15px;
    color: #333;
    display: block;
    transition: .3s;
}
.header .container .links ul li a:hover
{
    padding-left: 25px;
}
.header .container .links ul li:not(:last-child)
{
    border-bottom: 1px solid #ddd;
}
.landing
{
    background: url(landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro
{
    width: 320px;
    left: 50%;
    top: 50%;
    text-align: center;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.landing .intro h1
{
    margin: 30px 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro p
{
    line-height: 1.5;
    font-size: 19px;
}
.features
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:var(--section-background);
}
.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}
.features .container .feat
{
    text-align: center;
    margin-top: 30px;
}

.features .container .feat i
{
    color: var(--main-color);
}
.features .container .feat h3
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.features .container .feat p
{
    color: #777;
    line-height: 1.5;
    font-size: 19px;
}
.services
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv
{
    display: flex;
    margin-bottom: 40px;
}
.services .services-content .col .srv i
{
    flex-basis: 60px;
    color: var(--main-color);
}
.services  .services-content .srv .text 
{
    flex: 1;
}
.services  .services-content .srv .text h3
{
    margin: 0 0 30px ;
}
.services  .services-content .srv .text p 
{
    color: #7C7C7C;
    line-height: 1.6;
    font-weight: 300;
}
.services .services-content .image
{
    text-align: center;
    position: relative;
}
.services .services-content  img
{
    width: 260px;
}
.services .services-content .image:before
{
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 100px;
    height: calc(100% + 100px);
    top:-50px;
    background-color: var(--secondary-color);
}
@media (max-width:991px)
{
    .services .services-content .srv
    {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:1199px)
{
    .image
    {
        display: none;
    }
}
.portfolio
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
}
.portfolio .portfolio-content .col
{
    margin-top: 60px;
    background-color: white;
}
.portfolio .portfolio-content .col img 
{
    width: 100%;
    margin: 0;
}
.portfolio .portfolio-content .col .text  
{
    padding: 20px;
}
.portfolio .portfolio-content .col .text h3
{
    margin: 0px;
}
.portfolio .portfolio-content .col .text p 
{
    margin-top: 16px;
    line-height: 1.8;
    font-size: 16px;
    color: #777;
}
.about
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .about-content 
{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .about-content .image
{
    position: relative;
    width: 260px;
    height: 375px;
}
.about .about-content .image img 
{
    width: 260px;
    height: 375px;
}
.about .about-content .text
{
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
.about .about-content .image::before
{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #EBEDEC;
    width: 120px;
    height: calc(100% + 80px);
    left: -20px;
    top: -40px;
}
.about .about-content .image::after
{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 300px;
    top: -40px;
    right: -130px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
}
@media (max-width: 991px)
{

    .about .about-content 
    {
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .image::before,
    .about .about-content .image::after 
    {
        display: none;
    }
    .about .about-content .image 
    {
        display: flex;
        margin: 0px  auto 60px ;
    }
}
.contact
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .inf
{
    margin-top: 80px;
    text-align: center;
}
.contact .inf p 
{
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
    margin-bottom: 15px;
    color: var(--secondary-color);
}
.contact .inf a
{
    cursor: pointer;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    font-size: 35px;
    display: block;
}
.contact .social 
{
    margin-top: 15px;
}
.contact .social i
{
    margin-left: 10px;
    color: var(--secondary-color);
}
.footer
{
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    font-size: 19px;
    padding: 30px 10px;
}
.footer span 
{
    color: var(--main-color);
    font-weight: bold;
}
@media (max-width: 768px) {
    .contact .inf p
    {
        font-size: 30px;

    }
    .contact .inf a 
    {
        font-size: 25px;
        
    }
}
